<h1 style="text-align: center;color: brown;font-family: cursive;">Services we provide</h1>
<div class="parallax"><!-- paralllax scrolling effect -->
<br>
<div class="card mb-3" style="max-width: 900px;margin-left: 200px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../assets/images/shop.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <br>
      <br>

      <div class="card-body">
        <h5 class="card-title">Sell and purhase art related products</h5>
        <p class="card-text">You can sell and purhase art related products. </p>
        
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="card mb-3" style="max-width: 900px;margin-left: 200px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../assets/images/article.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <br>
        <br>
        
        <h5 class="card-title">Share and read articles on art</h5>
        <p class="card-text">You can share and read articles on art and it's different types.</p>
        
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="card mb-3" style="max-width: 900px;margin-left: 200px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../assets/images/video.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <br>
        <br>
        
        <h5 class="card-title">Share and watch video tutorials</h5>
        <p class="card-text">You can share and watch video tutorials to help you learn and teach more.</p>
       
      </div>
    </div>
  </div>
</div>
<br>
<br>
</div><!-- paralllax scrolling effect -->