<div class="parallax"><!-- paralllax scrolling effect -->
<br>
<br>
<br>

<h2 style="text-align: center;text-shadow: -1px 0 rgb(238, 236, 236), 0 1px rgb(240, 232, 232), 1px 0 black, 0 -1px black;font-family: cursive;">
    Create your account!
</h2>
<form class="sign">
    <div class="form-group">
        <label ></label>
        <input type="text" class="form-control" placeholder="Username" id="username" aria-describedby="emailHelp">
        
      </div>
    <div class="form-group">
      <label for="exampleInputEmail1"></label>
      <input type="email" class="form-control" placeholder="Email address" id="exampleInputEmail1" aria-describedby="emailHelp">
      
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1"></label>
      <input type="password" class="form-control" placeholder="Password" id="exampleInputPassword1">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1"></label>
        <input type="password" class="form-control" placeholder="Confirm Password" id="exampleInputPassword1">
      </div>
    <br>
      <button type="submit" class="btn btn-success float-right" >Sign Up</button>
    <br>
    <br>
  </form>
  <br>
<br>
<br>
<br>
<br>
</div><!-- paralllax scrolling effect -->
