.sign{
 margin-left: 180px;
 margin-right: 180px;
 
}
.parallax {
  background-image: url('/assets/images/signlog.jpg');
  

  height: 100%; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

   