
<div style="text-align:center">
    <h1 style="font-family: cursive;">
      {{ title }}
    </h1>
  </div>
  
  <div class="parallax"><!-- paralllax scrolling effect -->
  
    
    
    <br>
    <!-- <div id="bg" class="container">
      <router-outlet></router-outlet>           
    </div> -->
    
   
    
    
    
    
  <h6 style="text-align: center;font-family: cursive;">A place for visual, literary, performing, and culinary artists to share articles, video tutorials, sell and buy products.</h6>
  <div class="card-group" style=" margin: 25px;">
    <div class="card" style="margin: 10px;">
      <img src="../assets/images/L1.webp" class="card-img-top" alt="...">
      <!-- <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div> -->
    </div>
    <div class="card" style="margin: 10px;">
      <img src="../assets/images/C1.jpg " class="card-img-top" alt="...">
      <!-- <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div> -->
    </div>
    <div class="card" style="margin: 10px;">
      <img src="../assets/images/V1.webp " class="card-img-top" alt="...">
      <!-- <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div> -->
    </div>
  </div>
  
  
  
  <div class="card-group" style=" margin: 25px;box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 1.2), 0 6px 20px 0 rgba(1, 1, 1, 1.19);">
    <div class="card" style="margin: 10px;">
      
      <div class="card-body" >
        
        <p class="card-text" style="text-align: center;">“Painting is poetry that is seen rather than felt, and poetry is painting that is felt rather than seen.”
          </p>
        <p class="card-text" style="text-align: center;"><small class="text-muted">― Leonardo da Vinci </small></p>
      </div>
    </div>
    
  </div>
  
  
  <div>
  <div class="card-group" style=" margin: 25px;">
    <div class="card" style="margin: 70px;">
      <img src="../assets/images/C3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">CULINARY ARTS</h5>
        <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
    <div class="card" style="margin: 70px;">
      <img src="../assets/images/P3.webp  " class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">PERFORMING ARTS</h5>
        <!-- <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
    
  </div>
  
  
  <div class="card-group" style="margin-bottom: 25px;margin-left: 25px;margin-right: 25px;">
    <div class="card" style="margin-bottom: 70px;margin-left: 70px;margin-right: 70px;">
      <img src="../assets/images/HOME2.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">VISUAL ARTS</h5>
        <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
    <div class="card" style="margin-bottom: 70px;margin-left: 70px;margin-right: 70px;">
      <img src="../assets/images/L3.jpg " class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">LITERARY ARTS</h5>
        <!-- <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
  </div>
  
  
  </div>
    
  
  <br>
  </div><!-- paralllax scrolling effect -->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  