
<div class='card' style="background-image: url('/assets/images/background.jpg');">
    <form >
<br>
<h1 style="text-align: center;font-family: cursive;color: brown;">
VIDEO TUTORIAL DETAILS
</h1>
<br>
<div class='card-body' style="margin-left: 225px;margin-right: 225px;">            
  <div class='table-responsive'>
    <table class='table'>       
    
      <tbody>  
          <tr>
              <td> <label>Video Title</label></td>
              <td><input type="text" /></td>                  
            </tr>   
            <tr>
                <td><label>Short Description of Video</label></td>
                <td><input type="text" /></td>                  
              </tr>  
              <tr>
                <td><label>Name of Content Creator</label></td>
                <td><input type="text" /></td>                  
              </tr>    
              <tr>
                <td><label>Video Url</label></td>
                <td><input type="text" /></td>                  
              </tr>  
              <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>                  
              </tr>             
      </tbody>
    </table>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
</form>
</div>