
<div class="parallax"><!-- paralllax scrolling effect -->
  <br>
  <br>

<h2 style="text-align: center;text-shadow: -1px 0 rgb(238, 236, 236), 0 1px rgb(240, 232, 232), 1px 0 black, 0 -1px black;font-family: cursive;;">
  Log In to explore more!
</h2>



<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <!-- form card login -->
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0" style="text-align: center;">Login</h3>
        </div>
        <div class="card-body">
          <form  (ngSubmit)="loginUser()">
            <div >
              <label for="uname1"></label>
              
              <input type="text" placeholder="Username" name="uname" [(ngModel)]="user.uname"/>
           
              </div>
            <div>
              <br>
              <label></label>
              
              <input type="password" placeholder="Password" name="password" [(ngModel)]="user.password"/>
              </div>
            <br>
            <button type="submit" class="btn btn-success float-right ">Login</button>
          </form>                             
        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->

    </div>


  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div><!-- paralllax scrolling effect -->