
<div style="background-color: #F6F7F8;"> 

    
<br>
<div class="container" >
    <div class="row justify-content-center">
     <div class="col-12 col-sm-6 col-md-3">
        <a href="https://www.facebook.com" class="fa fa-facebook" style="border-radius: 5px;"></a>
        &nbsp;&nbsp;<a href="https://www.youtube.com" class="fa fa-youtube" style="border-radius: 5px;"></a>
        &nbsp;&nbsp;<a href="https://www.instagram.com" class="fa fa-instagram"  style="border-radius: 5px;"></a>
        &nbsp;&nbsp;<a href="https://www.twitter.com" class="fa fa-twitter" style="border-radius: 5px;"></a>
     </div>
    </div>    
 </div>
 <hr> 
<div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="index.html"> Atelier – THE ARTS PLACE</a>
</div>


</div>